---
Checks: "*,-llvm-header-guard,-modernize-use-trailing-return-type,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-*-avoid-c-arrays,-*-magic-numbers,-*-namespace-comment*,-cppcoreguidelines-pro-bounds-constant-array-index,-*-decay,-fuchsia-*,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-readability-isolate-declaration,-llvmlibc-*,-readability-implicit-bool-conversion,-readability-avoid-const-params-in-decls,-misc-non-private-member-variables-in-classes,-cert-env33-c"
WarningsAsErrors: "*"
