# ln -s .../.editorconfig ~/.editorconfig

root = true

# bash8
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = none
indent_style = space
indent_size = 4

# Lexer restrictions
[{Makefile*,*.mf,*.go}]
indent_style = tab
[{*.fs,*.fsx}]
indent_style = space

# Natural HTML nesting
[{*.js}]
quote_type = single

# Poetry
[{*.txt,*.md,*.lisp,*.scm,*.el,*.clj,*.rkt,*.sbcl,.sbclrc,*.abcl,.abclrc,*.ccl,.cclrc,*.ecl,.eclrc,*.clisp,.clisprc}]
indent_size = none

# Windows junk
[{*.cmd,*.bat,*.reg,*.ps1,*.vbs,*.cs,*.fs,*.fsx,*.ahk}]
end_of_line = crlf

# legacy
[{Gemfile,*.rb,Rakefile,Vagrantfile,*.js,*.json,*.yml,*.xml,*.ps1,*.pp,*.reek,*.java,*.groovy,*.scala,*.gradle,*.ahk,.eslintrc,.jshintrc,.jslintrc,.bowerrc,.emacs,.vimrc,Guardfile*}]
indent_size = 2
