# ln -s .../.editorconfig ~/.editorconfig
#
# EditorConfig + Google Style Guide
# http://editorconfig.org/
# https://code.google.com/p/google-styleguide/
#
# Usage:
#
# npm install -g editorconfig-tools
# find . -type d -name .git -prune -o -name "*.app*" -prune -o -type f -name "*.scpt" -prune -o -type d -name .xcodeproj -prune -o -type f -name .exe -prune -o -type f -name "*" -exec editorconfig-tools check {} \;
#
# Or use a plugin:
#
# http://editorconfig.org/#download

root = true

# Most files
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Too many exceptions
max_line_length = 800

spaces_around_operators = true
spaces_around_brackets = false
indent_style = space
indent_size = 2
indent_brace_style = K&R
curly_bracket_next_line = false
continuation_indent_size 4

# Makefiles
[{Makefile,*.mf}]
indent_style = tab
tab_width = 2

# JavaScript
[*.js]
quote_type = single

# Lisp
[{*.lisp,*.scm,*.lsp,*.clj,*.el}]
indent_size = none

# Windows files
[{*.bat,*reg,*.ps1,*.vbs,*.cs,*.fs,*.ahk}]
end_of_line = crlf
