{
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "node": true,
        "browser": true,
        "mocha": true,
        "jquery": true
    },
    "rules": {
        "strict": [
            "error",
            "global"
        ],
        "no-mixed-requires": [
            "error"
        ],
        "no-unused-vars": [
            "error",
            {
                "argsIgnorePattern": "^_"
            }
        ],
        "quotes": [
            "error",
            "single"
        ]
    }
}
