[core]
	editor = vi
	excludesfile = /Users/andrew/.gitignore-global
ignorecase = false

[push]
default = simple

[branch]
autosetuprebase = always

[color]
status = auto

[merge]
ff = true

[pull]
rebase = true

[mergetool]
keepBackup = false
[user]
	name = Andrew Pennebaker
	email = andrew.pennebaker@gmail.com
