<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionActivation</key>
	<dict>
		<key>AppActivateAction</key>
		<false/>
		<key>AppHideAction</key>
		<false/>
		<key>AppHideOthersAction</key>
		<false/>
		<key>AppOpenFileAction</key>
		<true/>
		<key>AppQuitAction</key>
		<true/>
		<key>AppQuitOthersAction</key>
		<false/>
		<key>AppRelaunchAction</key>
		<true/>
		<key>AppShowHideAction</key>
		<false/>
		<key>AppleScriptOpenFilesAction</key>
		<true/>
		<key>AppleScriptProcessTextAction</key>
		<true/>
		<key>AppleScriptRunAction</key>
		<true/>
		<key>AppleScriptRunTextAction</key>
		<true/>
		<key>DiskEjectAction</key>
		<true/>
		<key>FileAlwaysOpenTypeWithAction</key>
		<true/>
		<key>FileCopyToAction</key>
		<true/>
		<key>FileDeleteAction</key>
		<false/>
		<key>FileGetHFSPathAction</key>
		<true/>
		<key>FileGetInfoAction</key>
		<true/>
		<key>FileGetPathAction</key>
		<false/>
		<key>FileGetPosixPathAction</key>
		<false/>
		<key>FileGetURLAction</key>
		<false/>
		<key>FileMakeAliasInAction</key>
		<true/>
		<key>FileMakeHardLinkInAction</key>
		<false/>
		<key>FileMakeLinkInAction</key>
		<false/>
		<key>FileMoveToAction</key>
		<true/>
		<key>FileOpenAction</key>
		<true/>
		<key>FileOpenWithAction</key>
		<true/>
		<key>FileRenameAction</key>
		<true/>
		<key>FileRevealAction</key>
		<true/>
		<key>FileToTrashAction</key>
		<true/>
		<key>FinderEmptyTrashAction</key>
		<true/>
		<key>FinderOpenTrashAction</key>
		<true/>
		<key>PasteboardCopyAction</key>
		<true/>
		<key>PasteboardPasteAction</key>
		<true/>
		<key>PasteboardPasteActionAsPlainText</key>
		<true/>
		<key>QSCatalogAddEntryAction</key>
		<false/>
		<key>QSCatalogEntryRescanAction</key>
		<true/>
		<key>QSCatalogEntryShowAction</key>
		<true/>
		<key>QSCommandAddTriggerAction</key>
		<true/>
		<key>QSCommandExecuteAction</key>
		<true/>
		<key>QSCommandExecuteAfterDelayAction</key>
		<true/>
		<key>QSCommandExecuteAtTimeAction</key>
		<true/>
		<key>QSCommandSaveAction</key>
		<true/>
		<key>QSCreateFileAction</key>
		<true/>
		<key>QSCreateFileTemplate</key>
		<true/>
		<key>QSLargeTypeAction</key>
		<true/>
		<key>QSLoginItemAddAction</key>
		<false/>
		<key>QSLoginItemRemoveAction</key>
		<false/>
		<key>QSNewFolderAction</key>
		<true/>
		<key>QSObjCSendMessageAction</key>
		<true/>
		<key>QSObjectAssignMnemonic</key>
		<true/>
		<key>QSObjectSearchChildrenAction</key>
		<true/>
		<key>QSObjectSelectAction</key>
		<false/>
		<key>QSObjectShowActionMenu</key>
		<true/>
		<key>QSObjectShowChildMenu</key>
		<true/>
		<key>QSObjectShowChildrenAction</key>
		<true/>
		<key>QSObjectShowMenu</key>
		<true/>
		<key>QSObjectShowSourceAction</key>
		<true/>
		<key>QSShellScriptRunAction</key>
		<true/>
		<key>QSSoundPlayAction</key>
		<true/>
		<key>QSTextShowDialogAction</key>
		<false/>
		<key>QSTextSpeakAction</key>
		<false/>
		<key>QSTextTypeAction</key>
		<true/>
		<key>URLEmailAction</key>
		<true/>
		<key>URLJSAction</key>
		<true/>
		<key>URLOpenAction</key>
		<true/>
		<key>URLOpenActionInBackground</key>
		<true/>
		<key>URLOpenWithAction</key>
		<false/>
	</dict>
	<key>actionIndirects</key>
	<dict/>
	<key>actionMenuActivation</key>
	<dict>
		<key>AppActivateAction</key>
		<false/>
		<key>AppHideAction</key>
		<false/>
		<key>AppHideOthersAction</key>
		<false/>
		<key>AppOpenFileAction</key>
		<true/>
		<key>AppQuitAction</key>
		<true/>
		<key>AppQuitOthersAction</key>
		<false/>
		<key>AppRelaunchAction</key>
		<true/>
		<key>AppShowHideAction</key>
		<false/>
		<key>AppleScriptOpenFilesAction</key>
		<true/>
		<key>AppleScriptProcessTextAction</key>
		<true/>
		<key>AppleScriptRunAction</key>
		<true/>
		<key>AppleScriptRunTextAction</key>
		<true/>
		<key>DiskEjectAction</key>
		<true/>
		<key>FileAlwaysOpenTypeWithAction</key>
		<true/>
		<key>FileCopyToAction</key>
		<true/>
		<key>FileDeleteAction</key>
		<false/>
		<key>FileGetHFSPathAction</key>
		<true/>
		<key>FileGetInfoAction</key>
		<true/>
		<key>FileGetPathAction</key>
		<false/>
		<key>FileGetPosixPathAction</key>
		<false/>
		<key>FileGetURLAction</key>
		<false/>
		<key>FileMakeAliasInAction</key>
		<true/>
		<key>FileMakeHardLinkInAction</key>
		<false/>
		<key>FileMakeLinkInAction</key>
		<false/>
		<key>FileMoveToAction</key>
		<true/>
		<key>FileOpenAction</key>
		<true/>
		<key>FileOpenWithAction</key>
		<true/>
		<key>FileRenameAction</key>
		<true/>
		<key>FileRevealAction</key>
		<true/>
		<key>FileToTrashAction</key>
		<true/>
		<key>FinderEmptyTrashAction</key>
		<true/>
		<key>FinderOpenTrashAction</key>
		<true/>
		<key>PasteboardCopyAction</key>
		<true/>
		<key>PasteboardPasteAction</key>
		<true/>
		<key>PasteboardPasteActionAsPlainText</key>
		<true/>
		<key>QSCatalogAddEntryAction</key>
		<false/>
		<key>QSCatalogEntryRescanAction</key>
		<true/>
		<key>QSCatalogEntryShowAction</key>
		<true/>
		<key>QSCommandAddTriggerAction</key>
		<true/>
		<key>QSCommandExecuteAction</key>
		<true/>
		<key>QSCommandExecuteAfterDelayAction</key>
		<true/>
		<key>QSCommandExecuteAtTimeAction</key>
		<true/>
		<key>QSCommandSaveAction</key>
		<true/>
		<key>QSCreateFileAction</key>
		<true/>
		<key>QSCreateFileTemplate</key>
		<true/>
		<key>QSLargeTypeAction</key>
		<true/>
		<key>QSLoginItemAddAction</key>
		<false/>
		<key>QSLoginItemRemoveAction</key>
		<false/>
		<key>QSNewFolderAction</key>
		<true/>
		<key>QSObjCSendMessageAction</key>
		<true/>
		<key>QSObjectAssignMnemonic</key>
		<true/>
		<key>QSObjectSearchChildrenAction</key>
		<true/>
		<key>QSObjectSelectAction</key>
		<false/>
		<key>QSObjectShowActionMenu</key>
		<true/>
		<key>QSObjectShowChildMenu</key>
		<true/>
		<key>QSObjectShowChildrenAction</key>
		<true/>
		<key>QSObjectShowMenu</key>
		<true/>
		<key>QSObjectShowSourceAction</key>
		<true/>
		<key>QSShellScriptRunAction</key>
		<true/>
		<key>QSSoundPlayAction</key>
		<true/>
		<key>QSTextShowDialogAction</key>
		<false/>
		<key>QSTextSpeakAction</key>
		<false/>
		<key>QSTextTypeAction</key>
		<true/>
		<key>URLEmailAction</key>
		<true/>
		<key>URLJSAction</key>
		<true/>
		<key>URLOpenAction</key>
		<true/>
		<key>URLOpenActionInBackground</key>
		<true/>
		<key>URLOpenWithAction</key>
		<false/>
	</dict>
	<key>actionNames</key>
	<dict/>
	<key>actionPrecedence</key>
	<dict>
		<key>AppActivateAction</key>
		<real>0.0</real>
		<key>AppHideAction</key>
		<real>0.0</real>
		<key>AppHideOthersAction</key>
		<real>0.0</real>
		<key>AppOpenFileAction</key>
		<real>0.0</real>
		<key>AppQuitAction</key>
		<real>0.0</real>
		<key>AppQuitOthersAction</key>
		<real>0.0</real>
		<key>AppRelaunchAction</key>
		<real>0.0</real>
		<key>AppShowHideAction</key>
		<real>0.0</real>
		<key>AppleScriptOpenFilesAction</key>
		<real>4</real>
		<key>AppleScriptProcessTextAction</key>
		<real>4</real>
		<key>AppleScriptRunAction</key>
		<real>4</real>
		<key>AppleScriptRunTextAction</key>
		<real>0.0</real>
		<key>DiskEjectAction</key>
		<real>0.0</real>
		<key>FileAlwaysOpenTypeWithAction</key>
		<real>0.10000000149011612</real>
		<key>FileCopyToAction</key>
		<real>0.0</real>
		<key>FileDeleteAction</key>
		<real>0.0</real>
		<key>FileGetHFSPathAction</key>
		<real>-0.5</real>
		<key>FileGetInfoAction</key>
		<real>0.0</real>
		<key>FileGetPathAction</key>
		<real>-0.5</real>
		<key>FileGetPosixPathAction</key>
		<real>-0.5</real>
		<key>FileGetURLAction</key>
		<real>-0.5</real>
		<key>FileMakeAliasInAction</key>
		<real>-0.5</real>
		<key>FileMakeHardLinkInAction</key>
		<real>-0.5</real>
		<key>FileMakeLinkInAction</key>
		<real>-0.5</real>
		<key>FileMoveToAction</key>
		<real>0.0</real>
		<key>FileOpenAction</key>
		<real>1</real>
		<key>FileOpenWithAction</key>
		<real>0.10000000149011612</real>
		<key>FileRenameAction</key>
		<real>0.0</real>
		<key>FileRevealAction</key>
		<real>0.10000000149011612</real>
		<key>FileToTrashAction</key>
		<real>0.0</real>
		<key>FinderEmptyTrashAction</key>
		<real>0.0</real>
		<key>FinderOpenTrashAction</key>
		<real>0.0</real>
		<key>PasteboardCopyAction</key>
		<real>-0.5</real>
		<key>PasteboardPasteAction</key>
		<real>-0.5</real>
		<key>PasteboardPasteActionAsPlainText</key>
		<real>-0.5</real>
		<key>QSCatalogAddEntryAction</key>
		<real>-0.050000000000000003</real>
		<key>QSCatalogEntryRescanAction</key>
		<real>2</real>
		<key>QSCatalogEntryShowAction</key>
		<real>3</real>
		<key>QSCommandAddTriggerAction</key>
		<real>0.0</real>
		<key>QSCommandExecuteAction</key>
		<real>3</real>
		<key>QSCommandExecuteAfterDelayAction</key>
		<real>2</real>
		<key>QSCommandExecuteAtTimeAction</key>
		<real>2</real>
		<key>QSCommandSaveAction</key>
		<real>2</real>
		<key>QSCreateFileAction</key>
		<real>0.0</real>
		<key>QSCreateFileTemplate</key>
		<real>0.0</real>
		<key>QSLargeTypeAction</key>
		<real>1</real>
		<key>QSLoginItemAddAction</key>
		<real>0.0</real>
		<key>QSLoginItemRemoveAction</key>
		<real>0.0</real>
		<key>QSNewFolderAction</key>
		<real>0.0</real>
		<key>QSObjCSendMessageAction</key>
		<real>5</real>
		<key>QSObjectAssignMnemonic</key>
		<real>-0.20000000000000001</real>
		<key>QSObjectSearchChildrenAction</key>
		<real>0.0</real>
		<key>QSObjectSelectAction</key>
		<real>0.0</real>
		<key>QSObjectShowActionMenu</key>
		<real>0.0</real>
		<key>QSObjectShowChildMenu</key>
		<real>0.0</real>
		<key>QSObjectShowChildrenAction</key>
		<real>0.0</real>
		<key>QSObjectShowMenu</key>
		<real>0.0</real>
		<key>QSObjectShowSourceAction</key>
		<real>0.0</real>
		<key>QSShellScriptRunAction</key>
		<real>2</real>
		<key>QSSoundPlayAction</key>
		<real>0.0</real>
		<key>QSTextShowDialogAction</key>
		<real>0.0</real>
		<key>QSTextSpeakAction</key>
		<real>0.0</real>
		<key>QSTextTypeAction</key>
		<real>0.0</real>
		<key>URLEmailAction</key>
		<real>0.0</real>
		<key>URLJSAction</key>
		<real>0.0</real>
		<key>URLOpenAction</key>
		<real>2</real>
		<key>URLOpenActionInBackground</key>
		<real>1</real>
		<key>URLOpenWithAction</key>
		<real>0.0</real>
	</dict>
	<key>actionRanking</key>
	<array>
		<string>QSObjCSendMessageAction</string>
		<string>AppleScriptRunAction</string>
		<string>AppleScriptOpenFilesAction</string>
		<string>AppleScriptProcessTextAction</string>
		<string>QSCommandExecuteAction</string>
		<string>QSCatalogEntryShowAction</string>
		<string>QSCommandSaveAction</string>
		<string>URLOpenAction</string>
		<string>QSCatalogEntryRescanAction</string>
		<string>QSCommandExecuteAtTimeAction</string>
		<string>QSCommandExecuteAfterDelayAction</string>
		<string>QSShellScriptRunAction</string>
		<string>QSLargeTypeAction</string>
		<string>FileOpenAction</string>
		<string>URLOpenActionInBackground</string>
		<string>FileRevealAction</string>
		<string>FileOpenWithAction</string>
		<string>FileAlwaysOpenTypeWithAction</string>
		<string>FileMoveToAction</string>
		<string>QSCommandAddTriggerAction</string>
		<string>AppQuitOthersAction</string>
		<string>AppHideAction</string>
		<string>QSNewFolderAction</string>
		<string>AppOpenFileAction</string>
		<string>URLOpenWithAction</string>
		<string>QSLoginItemAddAction</string>
		<string>URLJSAction</string>
		<string>AppQuitAction</string>
		<string>AppRelaunchAction</string>
		<string>QSTextShowDialogAction</string>
		<string>QSObjectShowSourceAction</string>
		<string>DiskEjectAction</string>
		<string>AppActivateAction</string>
		<string>QSTextSpeakAction</string>
		<string>QSObjectSelectAction</string>
		<string>URLEmailAction</string>
		<string>FileDeleteAction</string>
		<string>AppHideOthersAction</string>
		<string>QSTextTypeAction</string>
		<string>QSCreateFileTemplate</string>
		<string>QSObjectShowChildrenAction</string>
		<string>AppShowHideAction</string>
		<string>FileCopyToAction</string>
		<string>QSObjectSearchChildrenAction</string>
		<string>FileGetInfoAction</string>
		<string>QSCreateFileAction</string>
		<string>FileToTrashAction</string>
		<string>AppleScriptRunTextAction</string>
		<string>QSSoundPlayAction</string>
		<string>FinderOpenTrashAction</string>
		<string>FinderEmptyTrashAction</string>
		<string>QSObjectShowChildMenu</string>
		<string>FileRenameAction</string>
		<string>QSLoginItemRemoveAction</string>
		<string>QSObjectShowMenu</string>
		<string>QSObjectShowActionMenu</string>
		<string>QSCatalogAddEntryAction</string>
		<string>QSObjectAssignMnemonic</string>
		<string>PasteboardPasteAction</string>
		<string>FileMakeAliasInAction</string>
		<string>PasteboardCopyAction</string>
		<string>PasteboardPasteActionAsPlainText</string>
		<string>FileMakeLinkInAction</string>
		<string>FileGetURLAction</string>
		<string>FileGetHFSPathAction</string>
		<string>FileGetPathAction</string>
		<string>FileGetPosixPathAction</string>
		<string>FileMakeHardLinkInAction</string>
	</array>
</dict>
</plist>
