<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>customEntries</key>
    <array>
      <dict>
        <key>ID</key>
        <string>A12FB0A8-288B-4C7B-8E65-64E48F5442ED</string>
        <key>enabled</key>
        <true/>
        <key>name</key>
        <string>Applications</string>
        <key>settings</key>
        <dict>
          <key>path</key>
          <string>/Developer/Applications</string>
        </dict>
        <key>source</key>
        <string>QSFileSystemObjectSource</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>4D17F844-3DBB-450E-AFCD-5D06CB9F523A</string>
        <key>enabled</key>
        <true/>
        <key>name</key>
        <string>Utilities</string>
        <key>settings</key>
        <dict>
          <key>path</key>
          <string>/Developer/Applications/Utilities</string>
        </dict>
        <key>source</key>
        <string>QSFileSystemObjectSource</string>
      </dict>
    </array>
    <key>enabledPresets</key>
    <dict/>
    <key>omittedItems</key>
    <array/>
  </dict>
</plist>
