<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>abbreviation</key>
    <dict>
      <key>8</key>
      <array>
        <string>/Users/andrew/Documents/802.11Poster.pdf</string>
      </array>
      <key>QSActionMnemonic:NSFilenamesPboardType</key>
      <array>
        <string>AppLaunchAction</string>
        <string>AppReopenAction</string>
      </array>
      <key>acti</key>
      <array>
        <string>/Applications/Utilities/Activity Monitor.app</string>
      </array>
      <key>addr</key>
      <array>
        <string>/Applications/Address Book.app</string>
      </array>
      <key>applescript</key>
      <array>
        <string>/Applications/Utilities/AppleScript Editor.app</string>
      </array>
      <key>aud</key>
      <array>
        <string>/Applications/Audacity.app</string>
      </array>
      <key>boo</key>
      <array>
        <string>/Applications/Photo Booth.app</string>
      </array>
      <key>boot</key>
      <array>
        <string>/Applications/Utilities/Boot Camp Assistant.app</string>
      </array>
      <key>booth</key>
      <array>
        <string>/Applications/Photo Booth.app</string>
      </array>
      <key>bot</key>
      <array>
        <string>/Applications/Utilities/Boot Camp Assistant.app</string>
      </array>
      <key>bruce</key>
      <array>
        <string>/Applications/Bruce Banner.app</string>
      </array>
      <key>caff</key>
      <array>
        <string>/Applications/Caffeine.app</string>
      </array>
      <key>cal</key>
      <array>
        <string>/Applications/iCal.app</string>
      </array>
      <key>calc</key>
      <array>
        <string>/Applications/Calculator.app</string>
      </array>
      <key>cha</key>
      <array>
        <string>/Applications/Chax.app</string>
      </array>
      <key>chax</key>
      <array>
        <string>/Applications/Chax.app</string>
      </array>
      <key>chr</key>
      <array>
        <string>/Applications/Google Chrome.app</string>
      </array>
      <key>chre</key>
      <array>
        <string>/Applications/Google Chrome.app</string>
      </array>
      <key>collo</key>
      <array>
        <string>/Applications/Colloquy.app</string>
      </array>
      <key>color</key>
      <array>
        <string>/Applications/Utilities/DigitalColor Meter.app</string>
      </array>
      <key>d</key>
      <array>
        <string>/Users/andrew/D.app</string>
      </array>
      <key>disk</key>
      <array>
        <string>/Applications/Utilities/Disk Utility.app</string>
      </array>
      <key>divx</key>
      <array>
        <string>/Applications/DivX Player.app</string>
      </array>
      <key>dro</key>
      <array>
        <string>/Applications/DropCopy.app</string>
      </array>
      <key>drop</key>
      <array>
        <string>/Applications/Dropbox.app</string>
      </array>
      <key>dvd</key>
      <array>
        <string>/Applications/DivX/DivX Community.app</string>
      </array>
      <key>e</key>
      <array/>
      <key>fi</key>
      <array>
        <string>/Applications/Firefox.app</string>
      </array>
      <key>file</key>
      <array>
        <string>/Applications/FileZilla.app</string>
      </array>
      <key>fus</key>
      <array>
        <string>/Applications/VMware Fusion.app</string>
      </array>
      <key>gar</key>
      <array>
        <string>/Applications/GarageBand.app</string>
      </array>
      <key>gimp</key>
      <array>
        <string>/Applications/Gimp.app</string>
      </array>
      <key>growl</key>
      <array>
        <string>/Library/PreferencePanes/Growl.prefPane</string>
        <string>/Users/andrew/Library/PreferencePanes/Growl.prefPane</string>
      </array>
      <key>hand</key>
      <array>
        <string>/Applications/HandBrake.app</string>
      </array>
      <key>haz</key>
      <array>
        <string>/Users/andrew/Library/PreferencePanes/Hazel.prefPane</string>
      </array>
      <key>ic</key>
      <array>
        <string>/Applications/iCal.app</string>
      </array>
      <key>ical</key>
      <array>
        <string>/Applications/iCal.app</string>
      </array>
      <key>ich</key>
      <array>
        <string>/Applications/iChat.app</string>
      </array>
      <key>ichat</key>
      <array>
        <string>/Applications/iChat.app</string>
      </array>
      <key>im</key>
      <array>
        <string>/Applications/iMovie.app</string>
      </array>
      <key>img</key>
      <array>
        <string>/Applications/Img2icns.app</string>
      </array>
      <key>imov</key>
      <array>
        <string>/Applications/iMovie.app</string>
      </array>
      <key>in</key>
      <array>
        <string>/Applications/Inkscape.app</string>
      </array>
      <key>ink</key>
      <array>
        <string>/Applications/Inkscape.app</string>
      </array>
      <key>iph</key>
      <array>
        <string>/Applications/iPhoto.app</string>
      </array>
      <key>ipho</key>
      <array>
        <string>/Applications/iPhoto.app</string>
      </array>
      <key>ist</key>
      <array>
        <string>/Applications/iStumbler.app</string>
      </array>
      <key>istu</key>
      <array>
        <string>/Applications/iStumbler.app</string>
      </array>
      <key>it</key>
      <array>
        <string>/Applications/iTunes.app</string>
      </array>
      <key>key</key>
      <array>
        <string>/System/Library/PreferencePanes/Keyboard.prefPane</string>
      </array>
      <key>kis</key>
      <array>
        <string>/Applications/KisMAC.app</string>
      </array>
      <key>mate</key>
      <array>
        <string>/Applications/TextMate.app</string>
      </array>
      <key>max</key>
      <array>
        <string>/Applications/Max.app</string>
      </array>
      <key>onyx</key>
      <array>
        <string>/Applications/OnyX.app</string>
      </array>
      <key>pho</key>
      <array>
        <string>/Applications/iPhoto.app</string>
      </array>
      <key>q</key>
      <array>
        <string>/Applications/Q.app</string>
      </array>
      <key>quick</key>
      <array>
        <string>/Applications/QuickTime Player.app</string>
      </array>
      <key>real</key>
      <array>
        <string>/Applications/RealPlayer.app</string>
      </array>
      <key>saf</key>
      <array>
        <string>/Applications/Safari.app</string>
      </array>
      <key>screensaver</key>
      <array>
        <string>/System/Library/PreferencePanes/DesktopScreenEffectsPref.prefPane</string>
      </array>
      <key>script</key>
      <array>
        <string>/Applications/Utilities/AppleScript Editor.app</string>
      </array>
      <key>seq</key>
      <array>
        <string>/Applications/Sequel Pro.app</string>
      </array>
      <key>sequel</key>
      <array>
        <string>/Applications/Sequel Pro.app</string>
      </array>
      <key>sf</key>
      <array/>
      <key>sky</key>
      <array>
        <string>/Applications/Skype.app</string>
      </array>
      <key>smoke</key>
      <array>
        <string>/Applications/SmokeScreen.app</string>
      </array>
      <key>smul</key>
      <array>
        <string>/Applications/Smultron.app</string>
      </array>
      <key>spaces</key>
      <array>
        <string>/Applications/Utilities/Spaces.app</string>
      </array>
      <key>spot</key>
      <array>
        <string>/System/Library/PreferencePanes/Spotlight.prefPane</string>
      </array>
      <key>sssys</key>
      <array>
        <string>QSPresetSystemPreferencePanes</string>
      </array>
      <key>steam</key>
      <array>
        <string>/Applications/Steam.app</string>
      </array>
      <key>stu</key>
      <array>
        <string>/Applications/iStumbler.app</string>
      </array>
      <key>stum</key>
      <array>
        <string>/Applications/iStumbler.app</string>
      </array>
      <key>sudowire</key>
      <array>
        <string>/Applications/SudoWire.app</string>
      </array>
      <key>sys</key>
      <array>
        <string>/Applications/System Preferences.app</string>
      </array>
      <key>te</key>
      <array>
        <string>/Applications/TextEdit.app</string>
      </array>
      <key>term</key>
      <array>
        <string>/Applications/Utilities/Terminal.app</string>
      </array>
      <key>to</key>
      <array>
        <string>/Users/andrew/Desktop/TODO.txt</string>
      </array>
      <key>tr</key>
      <array>
        <string>/Applications/Transmission.app</string>
      </array>
      <key>tran</key>
      <array>
        <string>/Applications/Transmission.app</string>
      </array>
      <key>unrar</key>
      <array>
        <string>/Applications/UnRarX.app</string>
      </array>
      <key>ur</key>
      <array>
        <string>/Applications/UrbanTerror/ioUrbanTerror.app</string>
      </array>
      <key>vid</key>
      <array>
        <string>/Applications/Vidalia.app</string>
      </array>
      <key>vlc</key>
      <array>
        <string>/Applications/VLC.app</string>
      </array>
      <key>vm</key>
      <array>
        <string>/Applications/VMware Fusion.app</string>
      </array>
      <key>wire</key>
      <array>
        <string>/Applications/Wireshark.app</string>
      </array>
      <key>wo</key>
      <array>
        <string>/Applications/Microsoft Office 2008/Microsoft Word.app</string>
      </array>
      <key>x11</key>
      <array>
        <string>/Applications/Utilities/X11.app</string>
      </array>
      <key>z</key>
      <array>
        <string>/Applications/FileZilla.app</string>
      </array>
      <key>zilla</key>
      <array>
        <string>/Applications/FileZilla.app</string>
      </array>
    </dict>
    <key>implied</key>
    <dict>
      <key>/Applications/Address Book.app</key>
      <dict>
        <key>addr</key>
        <integer>11</integer>
      </dict>
      <key>/Applications/Audacity.app</key>
      <dict>
        <key>aud</key>
        <integer>3</integer>
      </dict>
      <key>/Applications/Bruce Banner.app</key>
      <dict>
        <key>bruce</key>
        <integer>1</integer>
      </dict>
      <key>/Applications/Caffeine.app</key>
      <dict>
        <key>caff</key>
        <integer>1</integer>
      </dict>
      <key>/Applications/Calculator.app</key>
      <dict>
        <key>calc</key>
        <integer>2</integer>
      </dict>
      <key>/Applications/Chax.app</key>
      <dict>
        <key>cha</key>
        <integer>1</integer>
        <key>chax</key>
        <integer>8</integer>
      </dict>
      <key>/Applications/Colloquy.app</key>
      <dict>
        <key>collo</key>
        <integer>2</integer>
      </dict>
      <key>/Applications/DivX Player.app</key>
      <dict>
        <key>divx</key>
        <integer>4</integer>
      </dict>
      <key>/Applications/DivX/DivX Community.app</key>
      <dict>
        <key>dvd</key>
        <integer>1</integer>
      </dict>
      <key>/Applications/DropCopy.app</key>
      <dict>
        <key>dro</key>
        <integer>1</integer>
      </dict>
      <key>/Applications/Dropbox.app</key>
      <dict>
        <key>drop</key>
        <integer>4</integer>
      </dict>
      <key>/Applications/FileZilla.app</key>
      <dict>
        <key>file</key>
        <integer>2</integer>
        <key>z</key>
        <integer>2</integer>
        <key>zilla</key>
        <integer>20</integer>
      </dict>
      <key>/Applications/Firefox.app</key>
      <dict>
        <key>fi</key>
        <integer>8</integer>
      </dict>
      <key>/Applications/GarageBand.app</key>
      <dict>
        <key>gar</key>
        <integer>2</integer>
      </dict>
      <key>/Applications/Gimp.app</key>
      <dict>
        <key>gimp</key>
        <integer>3</integer>
      </dict>
      <key>/Applications/Google Chrome.app</key>
      <dict>
        <key>chr</key>
        <integer>41</integer>
        <key>chre</key>
        <integer>2</integer>
      </dict>
      <key>/Applications/HandBrake.app</key>
      <dict>
        <key>hand</key>
        <integer>1</integer>
      </dict>
      <key>/Applications/Img2icns.app</key>
      <dict>
        <key>img</key>
        <integer>1</integer>
      </dict>
      <key>/Applications/Inkscape.app</key>
      <dict>
        <key>in</key>
        <integer>1</integer>
        <key>ink</key>
        <integer>44</integer>
      </dict>
      <key>/Applications/Internet Explorer.app</key>
      <dict>
        <key>ie</key>
        <integer>2</integer>
      </dict>
      <key>/Applications/KisMAC.app</key>
      <dict>
        <key>kis</key>
        <integer>1</integer>
      </dict>
      <key>/Applications/Mail.app</key>
      <dict>
        <key>m</key>
        <integer>2</integer>
        <key>mail</key>
        <integer>2</integer>
      </dict>
      <key>/Applications/Max.app</key>
      <dict>
        <key>max</key>
        <integer>55</integer>
      </dict>
      <key>/Applications/Microsoft Office 2008/Microsoft Excel.app</key>
      <dict/>
      <key>/Applications/Microsoft Office 2008/Microsoft Word.app</key>
      <dict>
        <key>wo</key>
        <integer>12</integer>
      </dict>
      <key>/Applications/OnyX.app</key>
      <dict>
        <key>onyx</key>
        <integer>3</integer>
      </dict>
      <key>/Applications/Photo Booth.app</key>
      <dict>
        <key>boo</key>
        <integer>4</integer>
        <key>booth</key>
        <integer>5</integer>
      </dict>
      <key>/Applications/Q.app</key>
      <dict>
        <key>q</key>
        <integer>9</integer>
      </dict>
      <key>/Applications/QuickTime Player.app</key>
      <dict>
        <key>quick</key>
        <integer>3</integer>
      </dict>
      <key>/Applications/RealPlayer.app</key>
      <dict>
        <key>real</key>
        <integer>2</integer>
      </dict>
      <key>/Applications/Safari.app</key>
      <dict>
        <key>s</key>
        <integer>2</integer>
        <key>saf</key>
        <integer>83</integer>
        <key>safari</key>
        <integer>2</integer>
      </dict>
      <key>/Applications/Sequel Pro.app</key>
      <dict>
        <key>seq</key>
        <integer>1</integer>
        <key>sequel</key>
        <integer>1</integer>
      </dict>
      <key>/Applications/Skype.app</key>
      <dict>
        <key>sky</key>
        <integer>44</integer>
      </dict>
      <key>/Applications/SmokeScreen.app</key>
      <dict>
        <key>smoke</key>
        <integer>4</integer>
      </dict>
      <key>/Applications/Smultron.app</key>
      <dict>
        <key>smul</key>
        <integer>1</integer>
      </dict>
      <key>/Applications/Steam.app</key>
      <dict>
        <key>steam</key>
        <integer>2</integer>
      </dict>
      <key>/Applications/SudoWire.app</key>
      <dict>
        <key>sudowire</key>
        <integer>1</integer>
      </dict>
      <key>/Applications/System Preferences.app</key>
      <dict>
        <key>sys</key>
        <integer>78</integer>
      </dict>
      <key>/Applications/TextEdit.app</key>
      <dict>
        <key>te</key>
        <integer>176</integer>
      </dict>
      <key>/Applications/TextMate.app</key>
      <dict>
        <key>mate</key>
        <integer>6</integer>
      </dict>
      <key>/Applications/Transmission.app</key>
      <dict>
        <key>tr</key>
        <integer>12</integer>
        <key>tran</key>
        <integer>3</integer>
      </dict>
      <key>/Applications/UnRarX.app</key>
      <dict>
        <key>unrar</key>
        <integer>2</integer>
      </dict>
      <key>/Applications/UrbanTerror/ioUrbanTerror.app</key>
      <dict>
        <key>ur</key>
        <integer>10</integer>
      </dict>
      <key>/Applications/Utilities/Activity Monitor.app</key>
      <dict>
        <key>acti</key>
        <integer>7</integer>
      </dict>
      <key>/Applications/Utilities/AppleScript Editor.app</key>
      <dict>
        <key>applescript</key>
        <integer>1</integer>
        <key>script</key>
        <integer>9</integer>
      </dict>
      <key>/Applications/Utilities/Boot Camp Assistant.app</key>
      <dict>
        <key>boot</key>
        <integer>2</integer>
        <key>bot</key>
        <integer>1</integer>
      </dict>
      <key>/Applications/Utilities/ColorSync Utility.app</key>
      <dict/>
      <key>/Applications/Utilities/DigitalColor Meter.app</key>
      <dict>
        <key>color</key>
        <integer>7</integer>
      </dict>
      <key>/Applications/Utilities/Disk Utility.app</key>
      <dict>
        <key>disk</key>
        <integer>19</integer>
      </dict>
      <key>/Applications/Utilities/Spaces.app</key>
      <dict>
        <key>spaces</key>
        <integer>1</integer>
      </dict>
      <key>/Applications/Utilities/Terminal.app</key>
      <dict>
        <key>term</key>
        <integer>1</integer>
      </dict>
      <key>/Applications/Utilities/X11.app</key>
      <dict>
        <key>x11</key>
        <integer>2</integer>
      </dict>
      <key>/Applications/VLC.app</key>
      <dict>
        <key>vlc</key>
        <integer>7</integer>
      </dict>
      <key>/Applications/VMware Fusion.app</key>
      <dict>
        <key>fus</key>
        <integer>3</integer>
        <key>vm</key>
        <integer>28</integer>
      </dict>
      <key>/Applications/Vidalia.app</key>
      <dict>
        <key>vid</key>
        <integer>18</integer>
      </dict>
      <key>/Applications/Wireshark.app</key>
      <dict>
        <key>wire</key>
        <integer>3</integer>
      </dict>
      <key>/Applications/iCal.app</key>
      <dict>
        <key>cal</key>
        <integer>2</integer>
        <key>ic</key>
        <integer>80</integer>
        <key>ical</key>
        <integer>19</integer>
      </dict>
      <key>/Applications/iChat.app</key>
      <dict>
        <key>ich</key>
        <integer>34</integer>
        <key>ichat</key>
        <integer>2</integer>
      </dict>
      <key>/Applications/iMovie.app</key>
      <dict>
        <key>im</key>
        <integer>3</integer>
        <key>imov</key>
        <integer>14</integer>
      </dict>
      <key>/Applications/iPhoto.app</key>
      <dict>
        <key>iph</key>
        <integer>2</integer>
        <key>ipho</key>
        <integer>1</integer>
        <key>pho</key>
        <integer>1</integer>
      </dict>
      <key>/Applications/iStumbler.app</key>
      <dict>
        <key>ist</key>
        <integer>1</integer>
        <key>istu</key>
        <integer>1</integer>
        <key>stu</key>
        <integer>1</integer>
        <key>stum</key>
        <integer>1</integer>
      </dict>
      <key>/Applications/iTunes.app</key>
      <dict>
        <key>it</key>
        <integer>108</integer>
        <key>itunes</key>
        <integer>2</integer>
      </dict>
      <key>/Library/PreferencePanes/Growl.prefPane</key>
      <dict>
        <key>growl</key>
        <integer>4</integer>
      </dict>
      <key>/System/Library/PreferencePanes/DesktopScreenEffectsPref.prefPane</key>
      <dict>
        <key>screensaver</key>
        <integer>1</integer>
      </dict>
      <key>/System/Library/PreferencePanes/Keyboard.prefPane</key>
      <dict>
        <key>key</key>
        <integer>4</integer>
      </dict>
      <key>/System/Library/PreferencePanes/Spotlight.prefPane</key>
      <dict>
        <key>spot</key>
        <integer>1</integer>
      </dict>
      <key>/Users/andrew/.Trash</key>
      <dict/>
      <key>/Users/andrew/D.app</key>
      <dict>
        <key>d</key>
        <integer>150</integer>
      </dict>
      <key>/Users/andrew/Desktop/TODO.txt</key>
      <dict>
        <key>to</key>
        <integer>1</integer>
      </dict>
      <key>/Users/andrew/Documents/802.11Poster.pdf</key>
      <dict>
        <key>8</key>
        <integer>1</integer>
      </dict>
      <key>/Users/andrew/Downloads/Shaken foundations or groundbreaking realignment.pdf</key>
      <dict/>
      <key>/Users/andrew/Downloads/Torrents</key>
      <dict/>
      <key>/Users/andrew/Library/PreferencePanes/Growl.prefPane</key>
      <dict>
        <key>growl</key>
        <integer>2</integer>
      </dict>
      <key>/Users/andrew/Library/PreferencePanes/Hazel.prefPane</key>
      <dict>
        <key>haz</key>
        <integer>3</integer>
      </dict>
      <key>/Users/andrew/Library/PreferencePanes/Hazel.prefPane/Contents/Resources/HazelHelper.app</key>
      <dict/>
      <key>FileOpenAction</key>
      <dict>
        <key>QSActionMnemonic:NSFilenamesPboardType</key>
        <integer>1236</integer>
      </dict>
      <key>QSPresetSystemPreferencePanes</key>
      <dict>
        <key>sssys</key>
        <integer>1</integer>
      </dict>
    </dict>
  </dict>
</plist>
