<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>triggers</key>
    <array>
      <dict>
        <key>ID</key>
        <string>QSGetGlobalSelectionTrigger</string>
        <key>command</key>
        <string>QSGetGlobalSelectionCommand</string>
        <key>enabled</key>
        <false/>
        <key>set</key>
        <string>Quicksilver</string>
        <key>type</key>
        <string>QSHotKeyTrigger</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>E7631AF6-7D0A-4C88-B4DA-110D52EB5108</string>
        <key>command</key>
        <dict>
          <key>actionID</key>
          <string>FileOpenAction</string>
          <key>directID</key>
          <string>/Applications/Utilities/Terminal.app</string>
        </dict>
        <key>enabled</key>
        <true/>
        <key>keyCode</key>
        <integer>17</integer>
        <key>modifiers</key>
        <integer>786721</integer>
        <key>onPress</key>
        <true/>
        <key>type</key>
        <string>QSHotKeyTrigger</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>QSActivateTextModeTrigger</string>
        <key>command</key>
        <string>QSActivateTextModeCommand</string>
        <key>enabled</key>
        <false/>
        <key>set</key>
        <string>Quicksilver</string>
        <key>type</key>
        <string>QSHotKeyTrigger</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>69E740B0-85BD-4BBF-8863-C6AC69C8B5FB</string>
        <key>command</key>
        <dict>
          <key>actionID</key>
          <string>FileOpenAction</string>
          <key>directID</key>
          <string>/Applications/Google Chrome.app</string>
        </dict>
        <key>enabled</key>
        <true/>
        <key>keyCode</key>
        <integer>5</integer>
        <key>modifiers</key>
        <integer>786721</integer>
        <key>onPress</key>
        <true/>
        <key>type</key>
        <string>QSHotKeyTrigger</string>
      </dict>
      <dict>
        <key>ID</key>
        <string>725CE1CC-64B8-4E3B-A63B-7F9838818C6D</string>
        <key>command</key>
        <dict>
          <key>actionID</key>
          <string>FileOpenAction</string>
          <key>directID</key>
          <string>/Applications/Emacs.app</string>
        </dict>
        <key>enabled</key>
        <true/>
        <key>keyCode</key>
        <integer>14</integer>
        <key>modifiers</key>
        <integer>786721</integer>
        <key>onPress</key>
        <true/>
        <key>type</key>
        <string>QSHotKeyTrigger</string>
      </dict>
    </array>
  </dict>
</plist>
