<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>triggers</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSGetGlobalSelectionTrigger</string>
			<key>command</key>
			<string>QSGetGlobalSelectionCommand</string>
			<key>enabled</key>
			<false/>
			<key>keyCode</key>
			<integer>53</integer>
			<key>modifiers</key>
			<integer>1048840</integer>
			<key>set</key>
			<string>Quicksilver</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>ACBDB7B3-94CE-49B0-8D9B-993074FF5614</string>
			<key>character</key>
			<string>w</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Microsoft To Do.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>13</integer>
			<key>modifiers</key>
			<integer>786721</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>4074585A-7030-431D-824B-0055F2B08AC8</string>
			<key>character</key>
			<string>a</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Amphetamine.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>0</integer>
			<key>modifiers</key>
			<integer>786721</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSActivateTextModeTrigger</string>
			<key>command</key>
			<string>QSActivateTextModeCommand</string>
			<key>set</key>
			<string>Quicksilver</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>9029DD01-3B6E-4C8B-99E9-B9799AB87279</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/iTerm.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>17</integer>
			<key>modifiers</key>
			<integer>786721</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSRelaunchSelfTrigger</string>
			<key>applicationScope</key>
			<array>
				<string>com.blacktree.Quicksilver</string>
			</array>
			<key>applicationScopeType</key>
			<integer>1</integer>
			<key>command</key>
			<string>QSRelaunchSelfCommand</string>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>12</integer>
			<key>modifiers</key>
			<integer>1835305</integer>
			<key>onPress</key>
			<true/>
			<key>set</key>
			<string>Quicksilver</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>323ADA25-8453-46F9-A28F-423AC962EFAE</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Brave Browser.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>5</integer>
			<key>modifiers</key>
			<integer>786721</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>0B54AEC9-56A4-4DFF-8FBF-057CD91527B8</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Visual Studio Code.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>14</integer>
			<key>modifiers</key>
			<integer>786721</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
	</array>
</dict>
</plist>
