[core]
editor = vi
excludesfile = /Users/andrew/.gitignore-global
ignorecase = false

[push]
default = simple

[branch]
autosetuprebase = always

[color]
status = auto

[merge]
ff = true

[pull]
rebase = true

[mergetool]
keepBackup = false

[user]
name = Andrew
email = githubmcandre.gumdrop164@passfwd.com

[init]
defaultBranch = main
