[core]
editor = vi
excludesfile = /Users/andrew/.gitignore-global
ignorecase = false

[push]
default = simple

[branch]
autosetuprebase = always

[color]
status = auto

[merge]
ff = true

[pull]
rebase = true

[mergetool]
keepBackup = false

[user]
name = Andrew Pennebaker
email = n4jm4@pm.me
signingkey = 8E363EAD6BBCDCBC

[init]
defaultBranch = main
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[log]
	showSignature = true
