---
name: "Audit"
on: # yamllint disable-line rule:truthy
  push:
  pull_request:
  schedule:
  - cron: "0 0 * * 1"
  workflow_dispatch:
jobs:
  Audit:
    runs-on: "ubuntu-24.04"
    env:
      SNYK_TOKEN: "${{ secrets.SNYK_TOKEN }}"
    steps:
    - uses: "actions/checkout@v4"
    - uses: "actions/setup-go@v5"
      with:
        go-version: "1.25.3"
    - uses: "actions/setup-python@v5"
      with:
        python-version: "3.14"
    - name: "provision dev tools"
      run: "make"
    - name: "install snyk"
      run: |
        sudo curl -Lo /bin/snyk https://downloads.snyk.io/cli/stable/snyk-linux
        sudo chmod a+x /bin/snyk
    - run: "./build audit"
